<%= form_for @proposicao, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :reuniao_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :reuniao_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sigla, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sigla, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :id_proposicao, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :id_proposicao, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ementa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :ementa, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :resultado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :resultado, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                proposicaos_path, :class => 'btn' %>
  </div>
<% end %>
