<%= form_for(@proposicao) do |f| %>
  <% if @proposicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposicao.errors.count, "error") %> prohibited this proposicao from being saved:</h2>

      <ul>
      <% @proposicao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reuniao_id %><br />
    <%= f.text_field :reuniao_id %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :id_proposicao %><br />
    <%= f.number_field :id_proposicao %>
  </div>
  <div class="field">
    <%= f.label :ementa %><br />
    <%= f.text_area :ementa %>
  </div>
  <div class="field">
    <%= f.label :resultado %><br />
    <%= f.text_area :resultado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
