<%- model_class = Proposicao -%>
<div class="page-header">
  <h1>Proposições</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:reuniao_id) %></th>
      <th><%= model_class.human_attribute_name(:sigla) %></th>
      <th><%= model_class.human_attribute_name(:id_proposicao) %></th>
      <th><%= model_class.human_attribute_name(:ementa) %></th>
      <th>Comissão</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @proposicaos.each do |proposicao| %>
      <tr>
        <td><%= link_to proposicao.id, proposicao_path(proposicao) %></td>
        <td><%= proposicao.reuniao_id %></td>
        <td><%= proposicao.sigla %></td>
        <td><%= proposicao.id_proposicao %></td>
        <td><%= proposicao.ementa %></td>
        <td><%= proposicao.resultado %></td>
        <td><%=l proposicao.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_proposicao_path(proposicao), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      proposicao_path(proposicao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_proposicao_path,
            :class => 'btn btn-primary' %>
