<p id="notice"><%= notice %></p>

<p>
  <b>Orgao:</b>
  <%= @reuniao_pautum.orgao_id %>
</p>

<p>
  <b>Cod reuniao:</b>
  <%= @reuniao_pautum.cod_reuniao %>
</p>

<p>
  <b>Data:</b>
  <%= @reuniao_pautum.data %>
</p>

<p>
  <b>Horario:</b>
  <%= @reuniao_pautum.horario %>
</p>

<p>
  <b>Local:</b>
  <%= @reuniao_pautum.local %>
</p>

<p>
  <b>Estado:</b>
  <%= @reuniao_pautum.estado %>
</p>

<p>
  <b>Tipo:</b>
  <%= @reuniao_pautum.tipo %>
</p>

<p>
  <b>Titulo reuniao:</b>
  <%= @reuniao_pautum.titulo_reuniao %>
</p>

<p>
  <b>Objeto:</b>
  <%= @reuniao_pautum.objeto %>
</p>


<%= link_to 'Edit', edit_reuniao_pautum_path(@reuniao_pautum) %> |
<%= link_to 'Back', reuniao_pauta_path %>
