<%= form_for @periodo_exercicio, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :deputado_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :deputado_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sigla_uf_representacao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sigla_uf_representacao, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :situacao_exercicio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :situacao_exercicio, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_inicio, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_inicio, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_fim, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_fim, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :id_causa_fim_exercicio, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :id_causa_fim_exercicio, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descricao_causa_fim_exercicio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descricao_causa_fim_exercicio, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :id_cadastro_parlamentar_anterior, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :id_cadastro_parlamentar_anterior, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                periodo_exercicios_path, :class => 'btn' %>
  </div>
<% end %>
