<%- model_class = PeriodoExercicio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:deputado_id) %>:</strong></dt>
  <dd><%= @periodo_exercicio.deputado_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sigla_uf_representacao) %>:</strong></dt>
  <dd><%= @periodo_exercicio.sigla_uf_representacao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:situacao_exercicio) %>:</strong></dt>
  <dd><%= @periodo_exercicio.situacao_exercicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_inicio) %>:</strong></dt>
  <dd><%= @periodo_exercicio.data_inicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_fim) %>:</strong></dt>
  <dd><%= @periodo_exercicio.data_fim %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_causa_fim_exercicio) %>:</strong></dt>
  <dd><%= @periodo_exercicio.id_causa_fim_exercicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descricao_causa_fim_exercicio) %>:</strong></dt>
  <dd><%= @periodo_exercicio.descricao_causa_fim_exercicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_cadastro_parlamentar_anterior) %>:</strong></dt>
  <dd><%= @periodo_exercicio.id_cadastro_parlamentar_anterior %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              periodo_exercicios_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_periodo_exercicio_path(@periodo_exercicio), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              periodo_exercicio_path(@periodo_exercicio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
