<h2>Informações utilizadas para a geração das cartas</h2>

<ul class="nav">
  <li><%= link_to "Deputados", "/deputados"  %></li>
  <li><%= link_to "Partidos", "/partidos"  %></li>
  <li><%= link_to "Órgãos", "/orgaos"  %></li>
  <li><%= link_to "Pautas", "/proposicaos"  %></li>
  <li><%= link_to "Objetivos", "/goals"  %></li>
  <li><%= link_to "Eventos", "/events"  %></li>
</ul>
