<%- model_class = Deputado -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ide_cadastro) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:matricula) %></th>
      <th><%= model_class.human_attribute_name(:id_parlamentar) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:nome_parlamentar) %></th>
      <th><%= model_class.human_attribute_name(:url_foto) %></th>
      <th><%= model_class.human_attribute_name(:foto) %></th>
      <th><%= model_class.human_attribute_name(:sexo) %></th>
      <th><%= model_class.human_attribute_name(:uf) %></th>
      <th><%= model_class.human_attribute_name(:partido_id) %></th>
      <th><%= model_class.human_attribute_name(:gabinete) %></th>
      <th><%= model_class.human_attribute_name(:anexo) %></th>
      <th><%= model_class.human_attribute_name(:fone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:num_legislatura) %></th>
      <th><%= model_class.human_attribute_name(:nome_profissao) %></th>
      <th><%= model_class.human_attribute_name(:data_nascimento) %></th>
      <th><%= model_class.human_attribute_name(:data_falecimento) %></th>
      <th><%= model_class.human_attribute_name(:uf_representacao_atual) %></th>
      <th><%= model_class.human_attribute_name(:situacao_legislatura_atual) %></th>
      <th><%= model_class.human_attribute_name(:id_parlamentar_deprecated) %></th>
      <th><%= model_class.human_attribute_name(:nome_parlamentar_atual) %></th>
      <th><%= model_class.human_attribute_name(:nome_civil) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deputados.each do |deputado| %>
      <tr>
        <td><%= link_to deputado.id, deputado_path(deputado) %></td>
        <td><%= deputado.ide_cadastro %></td>
        <td><%= deputado.status %></td>
        <td><%= deputado.matricula %></td>
        <td><%= deputado.id_parlamentar %></td>
        <td><%= deputado.nome %></td>
        <td><%= deputado.nome_parlamentar %></td>
        <td><%= deputado.url_foto %></td>
        <td><%= deputado.foto %></td>
        <td><%= deputado.sexo %></td>
        <td><%= deputado.uf %></td>
        <td><%= deputado.partido_id %></td>
        <td><%= deputado.gabinete %></td>
        <td><%= deputado.anexo %></td>
        <td><%= deputado.fone %></td>
        <td><%= deputado.email %></td>
        <td><%= deputado.num_legislatura %></td>
        <td><%= deputado.nome_profissao %></td>
        <td><%= deputado.data_nascimento %></td>
        <td><%= deputado.data_falecimento %></td>
        <td><%= deputado.uf_representacao_atual %></td>
        <td><%= deputado.situacao_legislatura_atual %></td>
        <td><%= deputado.id_parlamentar_deprecated %></td>
        <td><%= deputado.nome_parlamentar_atual %></td>
        <td><%= deputado.nome_civil %></td>
        <td><%=l deputado.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deputado_path(deputado), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deputado_path(deputado),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deputado_path,
            :class => 'btn btn-primary' %>
