<%- model_class = Deputado -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:ide_cadastro) %>:</strong></dt>
  <dd><%= @deputado.ide_cadastro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @deputado.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:matricula) %>:</strong></dt>
  <dd><%= @deputado.matricula %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_parlamentar) %>:</strong></dt>
  <dd><%= @deputado.id_parlamentar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @deputado.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome_parlamentar) %>:</strong></dt>
  <dd><%= @deputado.nome_parlamentar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url_foto) %>:</strong></dt>
  <dd><%= @deputado.url_foto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:foto) %>:</strong></dt>
  <dd><%= @deputado.foto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sexo) %>:</strong></dt>
  <dd><%= @deputado.sexo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uf) %>:</strong></dt>
  <dd><%= @deputado.uf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:partido_id) %>:</strong></dt>
  <dd><%= @deputado.partido_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gabinete) %>:</strong></dt>
  <dd><%= @deputado.gabinete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anexo) %>:</strong></dt>
  <dd><%= @deputado.anexo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fone) %>:</strong></dt>
  <dd><%= @deputado.fone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @deputado.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:num_legislatura) %>:</strong></dt>
  <dd><%= @deputado.num_legislatura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome_profissao) %>:</strong></dt>
  <dd><%= @deputado.nome_profissao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_nascimento) %>:</strong></dt>
  <dd><%= @deputado.data_nascimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_falecimento) %>:</strong></dt>
  <dd><%= @deputado.data_falecimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uf_representacao_atual) %>:</strong></dt>
  <dd><%= @deputado.uf_representacao_atual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:situacao_legislatura_atual) %>:</strong></dt>
  <dd><%= @deputado.situacao_legislatura_atual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_parlamentar_deprecated) %>:</strong></dt>
  <dd><%= @deputado.id_parlamentar_deprecated %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome_parlamentar_atual) %>:</strong></dt>
  <dd><%= @deputado.nome_parlamentar_atual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome_civil) %>:</strong></dt>
  <dd><%= @deputado.nome_civil %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              deputado_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deputado_path(@deputado), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deputado_path(@deputado),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
